// body
    .el-dialog__headerbtn
        font-size:30px;/*no*/
        font-weight:bold
    /**
    *    [蓝色按钮]
    */
    .el-button--primary
        background-color: #138BE7;
        border-color: #138BE7;
    .el-button--primary:active
        background-color: #1F7FC8;
        border-color: #1F7FC8;
    .el-button--primary:focus
        background-color: #1F7FC8;
        border-color: #1F7FC8;
    /**
    *   [红色按钮]
    */
    
    /*
    *  [复选框]
    */
    .el-checkbox+.el-checkbox
        margin-left:0
    .el-checkbox .el-checkbox__label
        font-size:16px;/*no*/
        vertical-align:middle;
    .el-checkbox .el-checkbox__input .el-checkbox__inner
        width:20px;/*no*/
        height:20px;/*no*/
        border-radius:3px;/*no*/
        vertical-align:middle;
        -webkit-border-radius:3px;/*no*/
        -moz-border-radius:3px;/*no*/
        -ms-border-radius:3px;/*no*/
        -o-border-radius:3px;/*no*/
    .el-checkbox .el-checkbox__input .el-checkbox__inner::after
        height:12px;/*no*/
        width:5px;/*no*/
        left:7px;/*no*/
    .el-checkbox__input.is-indeterminate .el-checkbox__inner 
        background-color: #fff;
        border-color: #dcdfe6; 
    /**
    *  [消息]
    */
    .el-message
        top:50%
    .el-message__content
        font-size:16px;
    .el-message-box
        width:300px;/*no*/
    .el-message-box .el-message-box__header
        text-align: center;
        font-weight: bold;
    .el-message-box .el-message-box__header .el-message-box__title>span
        font-size:14px;/*no*/
    .el-message-box .el-message-box__header .el-message-box__headerbtn
        font-size:18px;/*no*/
    .el-message-box .el-message-box__content
        font-size:14px;/*no*/
        padding:30px 15px;/*no*/
    .el-message-box .el-message-box__btns
        text-align: center
    .el-message-box .el-message-box__btns .el-button--small
        padding:10px 38px;/*no*/
        font-size:14px;/*no*/
    /**
    * [日期]
    **/
    .el-picker-panel
        width 320px;/*no*/
    .el-picker-panel .el-date-picker__header
        margin 20px;/*no*/
        padding-bottom 15px;/*no*/
    .el-picker-panel .el-date-picker__header-label
        font-size 16px;/*no*/
    .el-picker-panel .el-picker-panel__icon-btn
        margin-top 2px;/*no*/
    .el-date-picker .el-picker-panel__content
        width:320px;/*no*/
        margin:0;/*no*/
    .el-date-picker .el-picker-panel__content .el-month-table td
        padding:30px 0;/*no*/
    .el-date-picker .el-picker-panel__content .el-month-table td .cell
        width:80px;/*no*/
    .el-date-range-picker
        width:470px;/*no*/
    .el-date-range-picker .el-picker-panel__body
        width:470px;/*no*/
    .el-date-table th
        padding-bottom:15px;/*no*/
    .el-date-table td
        width:30px;/*no*/
        height:30px;/*no*/
    .el-date-table td div
        height:30px;/*no*/
        line-height:30px;/*no*/
    .el-date-table td span
        width:30px;/*no*/
        height:30px;/*no*/
        line-height:30px;/*no*/
    .el-date-editor .el-range-input
        font-size: 14px
    .el-date-editor .el-range__close-icon
        font-size: 18px;/*no*/
        line-height: 30px;/*no*/
    .el-input--prefix .el-input__inner
        padding-left: 60px;/*no*/
    .el-date-editor .el-input__prefix
        left:20px;/*no*/
    .el-date-editor .el-input__suffix
        right:20px;/*no*/
        top:0;/*no*/
    .el-date-editor .el-input__prefix .el-input__icon
        line-height:40px;/*no*/
    .el-date-range-picker__header
        font-size:18px;/*no*/
    /*
    * [下拉框]
    */
    .el-select .el-input
        font-size:14px;/*no*/
    .el-select .el-input .el-input__inner
        height:40px;/*no*/
        line-height:40px;/*no*/
    .el-select .el-input .el-input__suffix
        right:15px;/*no*/
    .el-select-dropdown__item
        font-size:14px;/*no*/
    /*
    *  [输入框]
    */
    .el-input
        font-size:14px;/*no*/
    .el-input .el-input__inner
        height:40px;/*no*/
        line-height:40px;/*no*/
        
    .success-dialog
        .content
            text-align center
            img
                width 100px
                height 100px
            .name
                color #000
                font-size 30px
                font-weight bold
                margin 20px 0
            .time
                color #909399
                margin 50px 0
                font-size 28px
            .el-button
                padding 30px 60px
    /*
    *  [日历]
    */
    .modal.show
        height:100vh !important
    .calendar
        height:400px !important
    .calendar .toolbar-inner
        font-size:20px !important
        height:60px !important
        line-height:60px !important
    .calendar .toolbar-inner .calendar-next, .calendar .toolbar-inner .calendar-prev
        padding:20px !important
    .calendar .calendar-week
        height: 40px !important
    .calendar .calendar-month
        height: 315px !important
    .calendar .calendar-month-row
        height:60px !important
    .calendar .calendar-month .calendar-day
        font-size: 18px !important
        height: 60px !important
        line-height: 60px !important
    .calendar .calendar-week-day
        font-size:20px !important
        line-height:40px !important
    .date.el-input .el-input__suffix
        top: 10px
        right: 10px
    /*
    *  [单选框]
    */
    .el-radio .el-radio__input
        height:20px;/*no*/
        line-height:20px;/*no*/
    .el-radio .el-radio__input .el-radio__inner
        width:20px;/*no*/
        height:20px;/*no*/
    .el-radio .el-radio__input .el-radio__inner::after
        width: 10px;/*no*/
        height: 10px;/*no*/
    .el-radio .el-radio__label
        font-size:14px;/*no*/
        height:25px;/*no*/
        line-height:25px;/*no*/
        vertical-align:middle
    /*
    * 弹窗
    */
    .el-dialog__title
        font-size:30px;
        font-weight:bold
        line-height:35px
    /*
    * 下拉
    */
    .el-select-dropdown__wrap
        max-height:500px
    /*
    * 添加成员页面，防止被转化成rem
    */
    .addGroupMenbers  .attribute 
        width:130px
    .el-dialog__wrapper 
        .el-dialog
            width:40%


